.GridTable, .dataTable {
    width: 100%;
    border: 0;
    /*box-sizing: border-box;*/
    margin: 10px 0;
    border-bottom: 2px solid #dddddd;
    font-size: 14px;
    -webkit-box-shadow: 2px 2px 9px 2px rgba(206,220,223,0.68);
    -moz-box-shadow: 2px 2px 9px 2px rgba(206,220,223,0.68);
    box-shadow: 2px 2px 9px 2px rgba(206,220,223,0.68);
}

    .GridHeaderStyle, .dataTable > thead > tr, .GridTable > tbody > tr.GridHeaderStyle > td {
        border: 0;
        background-color: #005683;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        border-bottom: 4px solid #b9b9b9;
    }

        .GridHeaderStyle th, .dataTable th {
            line-height: 30px !important;
            text-align: center;
            border-left: 1px solid #3a6e8a;
            font-weight: normal;
            /*border-left:1px solid #b9b9b9;
            border-right:1px solid #b9b9b9;*/
        }

            .GridHeaderStyle th a, .dataTable th a {
                color: #b8e8f7;
            }

.GridRowStyle {
    border: 0;
    background-color: #f9f9f9 !important;
    border-bottom: 1px solid #fff;
}

.dataTable > tbody > tr, .table-striped > tbody > tr:nth-of-type(odd) {
    border: 0;
    background-color: #fff !important;
}

.GridAlterNative, .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #eaeaea !important;
    border-bottom: 1px solid #fff;
}

.GridPagerStyle > td {
    width: 100%;
}


.GridPagerStyle table tr td a {
    background-color: #005683;
    cursor: pointer;
    color: #fff;
    padding: 10px 7px;
    /* border-bottom: 2px solid #9e9e9e; */
    display: block;
    font-size: 15px;
    width: 40px;
    text-align: center;
    margin: 0 5px;
}

    .GridPagerStyle table tr td a:hover {
        background-color: #111111;
        color: #fff;
    }

.GridPagerStyle table tr td span {
    display: inline-block;
    font-size: 14px;
    min-width: 40px;
    text-align: center;
}

.GridPagerStyle table tr td select {
    background-color: #fff;
    width: 43px;
    float: right;
    height: 19px;
    margin: 0 5px;
}

.GridPagerStyle table tr td input {
    display: block;
    height: auto;
    width: auto;
    margin: 0 10px;
    width: 40px !important;
    font-size: 16px;
    padding: 0 5px;
    height: 36px !important;
}

    .GridPagerStyle table tr td input[type="submit"] {
        width: auto;
        background-color: #1f355d;
        cursor: pointer;
        color: #fff;
    }

        .GridPagerStyle table tr td input[type="submit"]:hover, .GridPagerStyle table tr td a:hover {
            opacity: 0.7;
        }

.GridTable tr td {
    text-align: center;
    line-height: 28px;
    color: #666666;
    font-size: 14px;
    padding: 0 7px;
}

    .GridTable tr td input[type=image] {
        width: auto !important;
        height: 14px !important;
        display: block;
        background: transparent;
    }

.GridSelectRowStyle {
    background-color: #009ad7;
}

    .GridSelectRowStyle td {
        background-color: #009dc7 !important;
        color: #fff !important;
        font-weight: normal;
    }

.GridPagerStyle table tr td {
    color: #333;
    font-size: 11px;
    margin-bottom: 0px;
    font-weight: bold;
    line-height: 15px;
}

tr.GridPagerStyle table {
    margin-top: 7px;
    margin-bottom: 7px;
}

.ChackBoxlist, input[type=checkbox], .RadioButtonList, input[type=radio] {
    width: 12px;
    height: 12px;
    margin: 0 10px;
    -webkit-box-shadow: 2px 2px 9px 2px rgba(206,220,223,0);
    -moz-box-shadow: 2px 2px 9px 2px rgba(206,220,223,0);
    box-shadow: 2px 2px 9px 2px rgba(206,220,223,0);
}

.RadioButtonList {
    width: 100%;
}

.TreeViewStyle {
    border: 1px solid #005683;
    padding: 0 30px;
    background-color: #971728;
}


    .TreeViewStyle a, .TreeViewStyle span {
        color: #f9f9f9 !important;
    }

iframe#ifrmProgress {
    height: 100vH !important;
}

.GridRowStyle:hover td, .GridAlterNative:hover td {
    background-color: #60c2dc !important;
    cursor: pointer;
    color: #fff;
}

.AutoExtender {
    background-color: #fff;
    max-height: 250px;
    overflow: auto;
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

    .AutoExtender > div {
        padding: 10px 3px;
        border-bottom: 1px solid #e6e6e6;
    }

.GridRowStyle:hover td select, .GridAlterNative:hover td select {
    color: rgba(0,0,0,0.75);
}

input[type=submit].SearchButton {
    border: 0;
    background-color: transparent;
    font-size: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-repeat: no-repeat;
    background-image: url(../../Images/Button_Icons/button_magnify.png);
    background-size: 100%;
    width: 27px;
    height: 27px;
}

input[type=checkbox] {
    width: auto !important;
    border: 0 !important;
    height: auto !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    margin:0 10px !important;
}
